html {
    background-color: grey;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 100px;
    text-align: center;
    margin: 20px;
}
h2{
    font-size: 60px;
    text-align: center;
    margin: 0px;
}
h3{
    font-size: 40px;
    margin: 10px;
}
summary, p {
    padding: 0 20px;
    font-size: 20px;
}

body {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border: 5px solid black;
    border-radius: 10px 1px;

}

#skill{
    margin: 0 0 40px 0;
}


